# While loops part 1

#### 1. While loop less than 10

In [27]:
var = 1 #initial value for variable
while var<10: #Condition declaration 
    print(var) #print staement for var
    var = var+1 #one will be added until value become less than 10

1
2
3
4
5
6
7
8
9

#### 2. While loop equal to 10

In [30]:
var = 1 #initial value for variable
while var<=10: #Condition declaration 
    print(var) #print staement for var
    var = var+1 #one will be added until value become less than 10

1
2
3
4
5
6
7
8
9
10

#### 3. Password case sensitive

In [35]:
while True:
    password = input("Enter password: ")
    if password == "helloworld":
        print("correct password")
        break
    else:
        print("incorrect password")

Enter password: asa
incorrect password
Enter password: helloworld
correct password

#### 4. Write a program to print following using while loop
a. first 10 even number

b. first 10 odd number

c. first 10 whole number

c. first 10 natural number

Solved: First ten even number

In [44]:
number = 0
while number<=20:
    number = number + 2
    print(number)

2
4
6
8
10
12
14
16
18
20
22

Solved: First ten odd number

In [54]:
number = 1
while number<=20:
    print(number)
    number = number + 2

1
3
5
7
9
11
13
15
17
19

Solved: First ten whole number

In [66]:
number = 0
while number<=9:
    print(number)
    number = number + 1

0
1
2
3
4
5
6
7
8
9

Solved: First ten natural number

In [63]:
number = 1
while number<=10:
    print(number)
    number = number + 1

1
2
3
4
5
6
7
8
9
10

#### 5. Write programe to print first 10, 16 and 24integers and their squares using while loop and store into list

In [155]:
number = 1
list = []
while number<=10:
    list.append(number**2)
    print(number**2, end=" ")
    number = number + 1
print()
print(list)

1 4 9 16 25 36 49 64 81 100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [150]:
number = 1
list = []
while number<=16:
    list.append(number**2)
    print(number**2, end=" ")
    number = number + 1
print()
print(list)

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [149]:
number = 1
list = []
while number<=24:
    list.append(number**2)
    print(number**2, end=" ")
    number = number + 1
print()
print(list)

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576]

#### 6. While loop statement for printing series 10,20,30....300

In [148]:
number = 0
while number<=300:
    print(number, end=" ")
    number = number + 10

0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

#### 7. Write a program to print following using while loop, 10 natural number in reverse order

In [4]:
number = 10
while number>=1:
    print(number)
    number = number - 1

10
9
8
7
6
5
4
3
2
1

#### 8.  Write programe to print sum of 10 natural number

In [31]:
number = 10
sum = 0
while number>=1:
    print(number)
    sum = sum + number
    number = number - 1
print()
print("Total sum:", sum)

10
9
8
7
6
5
4
3
2
1

Total sum: 55

#### 9. Write a programe in while loop for a multiplication table and value need to be enter by user

In [98]:
number = int(input("Enter number for Multiplication table: "))
iterate = 1
while iterate<=10:
    print(number, "x", iterate, "=", number*iterate )
    iterate = iterate + 1

Enter number for Multiplication table: 16384
16384 x 1 = 16384
16384 x 2 = 32768
16384 x 3 = 49152
16384 x 4 = 65536
16384 x 5 = 81920
16384 x 6 = 98304
16384 x 7 = 114688
16384 x 8 = 131072
16384 x 9 = 147456
16384 x 10 = 163840